@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cor1: #00993F;
    --cor2: #009940;
    --cor3: #00662B;
    --cor4: #33AA65;
    --cor5: #00E560;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: #EBE5C5;
    font-family: 'Roboto', sans-serif; 
}

header {
    text-align: center;
    background-image: linear-gradient(to bottom, #00E560, #00662B );
    color: #fff;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.445);
}

header h1, header p {
    padding: 20px;
}

#menu {
    display: flex;
    flex-direction: row;
}

#menu li, #menu a {
    padding: 10px;
    color: var(--cor5);
}

#menu a:hover {
    background-color: var(--cor4);
    color: #fff;
    border-radius: 10px;
    transition: 0.5s;
}

main {
    max-width: 950px;
    background-color: #fff;
    margin: auto;
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.355);
}

main h1 {
    color: var(--cor3);
    font-family: 'idroid';
}

main img, main iframe {
    display: block;
    margin: auto;
}

main a, footer a {
    color: #00993F;
}

main a:hover, footer a:hover {
    text-decoration: underline;
}

h2, h3 {
    background-color: #0099409e;
    padding: 5px;
    color: #00662B;
    font-family: 'idroid';
}

.txt {
    padding: 10px 0px;
    word-spacing: 5px;
    text-indent: 20px;
    line-height: 25px;
}

img, iframe {
    max-width: 100%;
}

#video {
    background-color: #00662B;
    width: 100%;
    padding: 20px 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.352);
}

article {
    background-color: #00E560;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 15px;
}

article abbr {
    text-decoration: underline;
}

#titulo {
    background-color: #00662B;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

footer {
    background-color: #00662B;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer a:hover {
    text-decoration: underline;
}

